.dashboard-content {
    border: 1px solid black;
    overflow-x: scroll;
    outline: none;
    border: none;
}

.dashboard-header {
    color: var(--text-color);
}

.all-galleries > h2 {
    color: var(--text-color);
    font-weight: 400;
}

.dashboard-gallery {
    position: relative;
    /* width: 8rem; */
    cursor: pointer;
    padding: 0.5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    text-overflow: ellipsis;
}

.galleries-container {
    display: flex;
    gap: 1.8rem;
    flex-wrap: wrap;
}

.dashboard-gallery > img {
    object-fit: cover; /* maintain aspect ratio */
    width: 13rem;   /* fixed width */
    height: 13rem;  /* fixed height */
}

.dashboard-gallery-description > p{
    color: var(--text-color);
    font-weight: bold;
}

.dashboard-gallery-description > div {
    font-size: small;
}