.dashboard-content {
    border: 1px solid black;
    overflow-x: auto;
    outline: none;
    border: none;
}

.dashboard-header {
    color: var(--text-color);
}

.all-galleries > h2 {
    color: var(--text-color);
    font-weight: 400;
}

.dashboard-gallery {
    position: relative;
    /* width: 8rem; */
    cursor: pointer;
    padding: 0.5rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    text-overflow: ellipsis;
}

.galleries-container {
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.dashboard-gallery > img {
    object-fit: cover; /* maintain aspect ratio */
    width: 13rem;   /* fixed width */
    height: 13rem;  /* fixed height */
}

.dashboard-gallery-description > p{
    color: var(--text-color);
    font-weight: bold;
}

.dashboard-gallery-description > div {
    font-size: small;
}

.dashboard-album-tag {
    padding-inline: 0.8rem;
    padding-block: 0.2rem;
    border-radius: 1rem;
    margin: 0;
}

.dashboard-album-tag--private {
    background-color: rgb(145, 145, 145);
    color: white;
}

.dashboard-album-tag--public {
    background-color: rgb(30, 177, 28);
    color: white;
}

.dashboard-album-option-btn {
    background-color: rgb(243, 243, 243);
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.dashboard-album-option-btn:hover {
    background-color: rgb(222, 222, 222);
}