.studio-card-container {
    position: relative;
    height: 17rem;
    width: 30rem;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    padding-inline: 2rem;
    padding-block: 1rem;
}

.studio-card-services {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.studio-card-services p {
    border-radius: 1rem;
    font-size: 0.7rem;
    background-color: lightgray;
    padding-inline: 0.7rem;
    padding-block: 0.3rem;
    margin-inline: 0.3rem;
    flex-shrink: 0
}

.studio-card-detail {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.studio-card-detail p, a {
    font-size: 0.9rem;
    margin: 0;
    color: var(--text-color);
    font-weight: 550;
}