/* Define global theme colors using CSS variables */
:root {
  --primary-color: #4CAF50; /* Default theme color */
  --secondary-color: #ffffff;
  --background-color: #ffffff;
  --text-color: #515151;
  --link-color: #007bff;
  --border-color: #ccc;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

.custom-bold-text {
  color: var(--text-color);
  font-weight: bold;
  text-decoration: underline;
}

.form-input-group {
  position: relative;
  margin-block: 0.5rem;
  /* margin-bottom: 0.8rem; */
  /* border-radius: 0.5rem; */
  /* width: 100%; */
}

.form-input {
  position: relative;
  width: 100%;
  padding: 8px 6px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  outline: none;
  background: none;
}

.form-input:focus {
  border-color: #007bff;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  top: 0px;
  left: 10px;
  font-size: 12px;
  color: #007bff;
  background-color: white;
  padding: 0 5px;
}

.form-input:focus:placeholder-shown::placeholder {
  opacity: 1;
}

.form-input::placeholder {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.form-input:not(:placeholder-shown) + .form-label {
  top: 0px;
  left: 10px;
  font-size: 12px;
  /* color: #aaa; */
  background-color: white;
  padding: 0 5px;
}

.form-label { 
  position: absolute;
  padding: 0;
  padding-left: 0.5rem;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: var(--text-color);
  transition: 0.2s ease all;
  pointer-events: none;
  background-color: transparent;
}