.new-folder-confirmation-button-container {
    position: relative;
    display: flex;
    justify-content: end;
    gap: 0.5rem;
    padding-top: 0.3rem;
    overflow-x: auto;
    white-space: nowrap;
    /* border: 1px solid black; */
}

.new-folder-confirmation-button-container > button {
    border: 0;
    padding-inline: 1rem;
    border-radius: 0.7rem;
}

.new-folder-confirmation-button-container > button:last-child {
    background-color: rgb(205, 205, 205);
}

.new-folder-confirmation-button-container > button:first-child {
    background-color: rgb(162, 197, 234);
}