.header-content {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.customer-album-img {
    position: relative;
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.customer-name {
    font-size: 1.7rem;
    font-weight: 500;
    margin: 0;
    color: var(--text-color);
}

.platform-name {
    /* font-size: 1.7rem; */
    /* font-weight: 500; */
    color: var(--text-color);
    margin: 0;
}